* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: gray;
}

.container {
  margin: 0 auto;
  width: 640px;
  height: 50px;
  background-color: crimson;
  border: 5px red solid;
}
