<!DOCTYPE html>
html(lang="en")
    include ./head.pug
    body
        div.container
            p Hello from "index.pug"!
        hr
        include ./content.pug
        hr
        script(src="../js/script.js")
